In [54]:
#Import dependencies
import json
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
from config import db_password
import time

## Extract Data (Wikipedia, Kaggle, Ratings)

In [55]:
#Create a variable for the file directory
file_dir = 'C:/Users/freds/Desktop/Data Analytics Projects/Movies-ETL'

In [56]:
# Open the file and load it into the "wiki_movies_raw" variable
with open(f'{file_dir}/wikipedia.movies.json', mode='r', encoding='utf-8') as file:
    wiki_movies_raw = json.load(file)

In [57]:
#Load the movies_metadata.csv and ratings.csv files into variables.
kaggle_metadata = pd.read_csv(f'{file_dir}/movies_metadata.csv')
ratings = pd.read_csv(f'{file_dir}/ratings.csv')

C:\Users\freds\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Transform Wikipedia Data

In [58]:
#Establish criteria for the movies we are interested in using (has a director, imdb link, and 0 episodes (not a TV show!))
wiki_movies = [movie for movie in wiki_movies_raw if ('Director' in movie or 'Directed by' in movie) and 'imdb_link' in movie and 'No. of episodes' not in movie]
len(wiki_movies)

7076

In [59]:
#Function to clean the wikipedia data
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles

    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')
    
    return movie

In [60]:
#Apply the function to all rows of wikipedia data. Convert into a DataFrame. 
clean_movies = [clean_movie(movie) for movie in wiki_movies]
wiki_movies_df = pd.DataFrame(clean_movies)

In [61]:
#Find the movies with an imdb_id fitting the format required. Then remove any duplicate rows.
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
wiki_movies_df.drop_duplicates(subset='imdb_id',inplace=True)

In [62]:
#Establish columns worth keeping and only keep those in the dataframe. 
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df)*0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]

In [63]:
#Establish box_office variable to represent movies that have box office value listed.
box_office = wiki_movies_df['Box office'].dropna()

In [64]:
#Join list items in the box_office column into a string.
box_office = box_office.apply(lambda x: ''.join(x) if type(x) == list else x)

In [65]:
form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'
form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'
box_office = box_office.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [66]:
#Extract box office values that match either form_one or form_two
box_office.str.extract(f'({form_one}|{form_two})')

                  0
0     $21.4 million
1      $2.7 million
2       $57,718,089
3        $7,331,647
4        $6,939,946
...             ...
7070  $19.4 million
7071  $41.9 million
7072  $76.1 million
7073  $38.4 million
7074   $5.5 million

[5485 rows x 1 columns]

In [67]:
#Create a function to parse the dollars values and create the correct format for them.
def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a million
        value = float(s) * 10**6

        # return value
        return value

    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billion
        value = float(s) * 10**9

        # return value
        return value

    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float
        value = float(s)

        # return value
        return value

    # otherwise, return NaN
    else:
        return np.nan

In [68]:
#Apply the parse_dollars function to the box_office column.
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [69]:
#Drop the old "Box office" column from our DataFrame.
wiki_movies_df.drop('Box office', axis=1, inplace=True)

In [70]:
#Create the budget variable to drop all movies that don't have a budget listed.
budget = wiki_movies_df['Budget'].dropna()

In [71]:
#Join all lists into strings for the budget variable.
budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

In [72]:
budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [73]:
#Remove citation references.
budget = budget.str.replace(r'\[\d+\]\s*', '')

In [74]:
#Extract budgets that fit the desired formatting.
wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [75]:
#Remove the redundant 'Budget' column from the dataframe.
wiki_movies_df.drop('Budget', axis=1, inplace=True)

In [76]:
#Create the release data variable to hold delete movies with no release date available and join the lists into a single string.
release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [77]:
#Create the date forms that we are looking to use with regular expressions.
date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]\d,\s\d{4}'
date_form_two = r'\d{4}.[01]\d.[123]\d'
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
date_form_four = r'\d{4}'

In [78]:
#set the release date column in the dataframe to match our format.
wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

In [79]:
#Set the running time variable to hold movies that have a running time listed. Join lists into a single string.
running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [80]:
#have the running_time_extract variable hold the running times fitting our format requirements.
running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')

In [81]:
#Convert running times to numeric format from string.
running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

In [82]:
wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

In [83]:
#Remove the redundant column.
wiki_movies_df.drop('Running time', axis=1, inplace=True)

In [84]:
#Merge the wikipedia and kaggle dfs 
movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])

## Transform the Kaggle Data

In [85]:
#Keep the kaggle data where the adult column is equal to "False"
kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'FALSE'].drop('adult',axis='columns')

In [86]:
#keep the kaggle rows where the 'video' column is true
kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'

In [87]:
#Convert budget, id, and popularity to the correct data types.
kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')

In [88]:
#Convert 'release_date' to datetime format.
kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

In [89]:
#Drop row that doesn't make sense
movies_df = movies_df.drop(movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index)

In [90]:
#Drop the specified columns
movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

In [91]:
#Fills in columns with missing data, then removes the redundant column
def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
    df[kaggle_column] = df.apply(
        lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
        , axis=1)
    df.drop(columns=wiki_column, inplace=True)

In [92]:
#Fill selected columns with missing data, then remove the redundant columns
fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')

In [93]:
#Have the DataFrame contain only the desired columns.
movies_df = movies_df.loc[:, ['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                       'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                       'genres','original_language','overview','spoken_languages','Country',
                       'production_companies','production_countries','Distributor',
                       'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                      ]]

In [94]:
#Rename the DataFrame columns to more usable titles.
movies_df.rename({'id':'kaggle_id',
                  'title_kaggle':'title',
                  'url':'wikipedia_url',
                  'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)

## Transform the ratings data

In [95]:
#convert the timestamp column of the ratings data to datetime
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [96]:
# movieID is the index, the columns will be all the rating values, and the rows will be the counts for each rating value.
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')

In [97]:
#Rename the columns
rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]

In [98]:
#convert "kaggle_id" datatype so as to be able to merge DataFrames.
movies_df["kaggle_id"]=movies_df["kaggle_id"].astype(int)

In [99]:
#Merge the ratings DataFrame with the movies dataframe
movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

In [100]:
#fill NaN values for rating counts with 0.
movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)

## Load the data to SQL

In [101]:
#SQL connection string.
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [102]:
#Create database engine
engine = create_engine(db_string)

In [104]:
#Move the DF to a SQL table.
movies_df.to_sql(name='movies_challenge_test_3', con=engine)

In [ ]:
#Export the ratings data to a SQL table.
rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv(f'{file_dir}/ratings.csv', chunksize=1000000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='ratings', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')